<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reservation completed</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <h1>Your reservation is complete!</h1>
    <h2>Here's your token to check it...Keep it well.</h2>
    <p>Your token is: <span th:text="${token}"></span></p>
    <form th:action="@{/api/reservation/check}" method="post">
        <button type="submit">Check my reservation</button>
    </form>
</body>

</html>